.foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;

  &__list {
    display: flex;
    //Genesis left side
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
    list-style: none;
  }

  &__li {
    list-style: none;
  }

  &__right {
    display: flex;
    align-items: center;
    //adds space  between Projects/Contact/icons
    gap: 40px;
  }

  &__links {
    display: flex;
    //keeeps Projects/Contact together
    gap: 20px;
  }

  &__icons {
    display: flex;
    //adds space between icons
    gap: 15px;
  }

  &__link {
    color: #111111;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;

    &:hover {
      color: gray;
    }
  }
}
