header {
  height: auto;
  background-color: white;
  margin: 0;

  padding: 0 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
    list-style: none;
  }

  &__li {
    list-style: none;
  }

  &__right-links {
    display: flex;
    gap: 20px;
  }

  &__link {
    color: #111111;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;

    &:hover {
      color: gray;
    }
  }
}
