@import "main.css";
header {
  height: auto;
  background-color: white;
  margin: 0;
  width: auto;
  padding: 0 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0;
  list-style: none;
}
.nav__li {
  list-style: none;
}
.nav__right-links {
  display: flex;
  gap: 20px;
}
.nav__link {
  color: #111111;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
}
.nav__link:hover {
  color: gray;
}

.foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  padding: 30px;
}
.foot__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0;
  list-style: none;
}
.foot__li {
  list-style: none;
}
.foot__right {
  display: flex;
  align-items: center;
  gap: 40px;
}
.foot__links {
  display: flex;
  gap: 20px;
}
.foot__icons {
  display: flex;
  gap: 15px;
}
.foot__link {
  color: #111111;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
}
.foot__link:hover {
  color: gray;
}

#container {
  width: auto;
  height: 80%;
  padding-bottom: 0;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(32, 1fr);
}

.item {
  padding: 20px;
  text-align: center;
  overflow: hidden;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.one {
  grid-row: 1/8;
  grid-column: 1/4;
}

.two {
  grid-row: 1/7;
  grid-column: 4/7;
}

.three {
  grid-row: 1/11;
  grid-column: 7/10;
}

.four {
  grid-row: 8/16;
  grid-column: 1/4;
}

.five {
  grid-row: 7/14;
  grid-column: 4/7;
}

.six {
  grid-row: 11/18;
  grid-column: 7/10;
}

.seven {
  grid-row: 16/24;
  grid-column: 1/4;
}

.eight {
  grid-row: 14/23;
  grid-column: 4/7;
}

.nine {
  grid-row: 18/27;
  grid-column: 7/10;
}

.ten {
  grid-row: 24/33;
  grid-column: 1/4;
}

.eleven {
  grid-row: 23/33;
  grid-column: 4/7;
}

.twelve {
  grid-row: 27/33;
  grid-column: 7/10;
}

body {
  font-family: "Mulish", serif;
  background-color: none;
  margin: 20px;
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.title-column {
  display: flex;
  padding: 20px;
  max-width: auto;
  justify-content: space-between;
}
.title-column .div {
  flex: 1;
}

.design-section {
  width: auto;
}

.design-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px;
  margin-bottom: 10px;
  opacity: 0.6;
}

.title1 {
  max-width: 50%;
}

h2 {
  font-size: 20px;
  margin-bottom: 20px;
}
h2 .highlight {
  color: #4a4ff2;
  font-weight: bold;
}

h4 {
  padding: 20px;
}

.coming-soon {
  opacity: 0.6;
}

.left-design {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  margin-bottom: 64px;
}

.right-design {
  width: 60vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.awards-section {
  padding: 20px;
  max-width: auto;
}

.award-row {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
}

.row {
  list-style: none;
}

.award-item {
  flex: 1;
  padding: 5px;
  text-align: left;
  font-size: 14px;
}

.award-category {
  text-align: center;
  flex: 1;
  padding: 5px;
  font-size: 14px;
}

.separator {
  width: 100%;
  border: none;
  border-top: 2px solid #ccc;
  margin: 20px 0;
}

.section4 {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 40px;
}

.left {
  flex: 1;
}

.text-container {
  flex: 1;
  max-width: auto;
  justify-self: flex-start;
  padding: 20px;
  opacity: 0.8;
}

.p__oppacacy {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify;
  opacity: 0.8;
}

.project-section {
  width: auto;
}

.project-list {
  padding: 0;
  margin: 0;
}

.project-row {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #979797;
  width: 80%;
}

.project-item {
  flex: 1;
  padding: 5px;
  text-align: left;
  font-size: 14px;
}

.project-category {
  text-align: center;
  flex: 1;
  padding: 5px;
  font-size: 14px;
}

.lady {
  flex: 1;
  position: relative;
  width: 90%;
  height: 500px;
  overflow: hidden;
}

.lady img {
  position: absolute;
  margin-right: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 20px;
}

.img-column {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 90%;
  margin-top: 40px;
}

.img-column img {
  width: 90%;
  height: 300px;
  object-fit: cover;
  max-width: 90%;
  margin: 10px;
}

section img {
  max-width: 100%;
  height: auto;
}

.contact-form {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
}

.section4 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  gap: 100px;
  width: 100vw;
  height: auto;
}

.section4 p {
  opacity: 0.8;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  margin-left: 64px;
  margin-top: 64px;
  margin-bottom: 64px;
}

.right {
  width: 50vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 64px;
}

.form {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 68px;
}

.input-field {
  display: flex;
  justify-content: flex-start;
  background: none;
  border: none;
  color: #111111;
  border-bottom: 1px solid #979797;
  font-size: 16px;
  background-color: transparent;
  padding: 10px;
  width: 100%;
}

.submit-btn {
  display: block;
  width: 125px;
  height: 50px;
  background-color: #4a4ff2;
  color: white;
  border: none;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  font-family: "Roboto", serif;
  font-weight: 400px;
}

.map {
  display: block;
  max-width: 90%;
  height: auto;
  margin: 20px auto;
}/*# sourceMappingURL=index.css.map */