@use "fonts";

@import "header";
@import "footer";
@import "gallery";
@import "main.css";
body {
  font-family: fonts.$main-font;
  background-color: none;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

h3 {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.awards-section {
  padding: 20px;
}
.award-row {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
}

.award-item {
  flex: 1;
  padding: 5px;
  text-align: left;
  font-size: 14px;
}

.award-category {
  text-align: center;
  flex: 1;
  padding: 5px;
  font-size: 14px;
}
.separator {
  width: 100%;
  border: none;
  border-top: 2px solid #ccc;
  margin: 20px 0;
}
